body {
    margin: 0;
    padding: 0;
	max-width: 100%;
	font-family: Rockwell, Times New Roman, Georgia, serif;
	font-size: 14pt;
    
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    
}

.navigation {
    background-color: #1F2937;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
        
}

.ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 0;
  }
.logo {
    width: 100px;
    height: 100px;
  }

.name {
    margin-right: auto;
    color: white;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 50px;
    
}

.hero-image {
    background-image: url("./images/banner3.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /*flex-direction: column;*/
}

.hero-text {
    /*align-self:flex-start;*/
    font-size: 50px;
    color: white;
    margin-top: auto;
    font-weight: bold;
    font-style: oblique;
    margin-right: auto;
    margin-left: 10px;
   /* width: 100%;
    flex: 1;*/
}

.hero-image .shop {
    align-self: flex-end;
    /*background-color: #D09269;*/
    width: 150x;
    height: 50px;
    padding: 20px;
    margin-right: 10px;
}

button {
    border-radius: 12px;
    background-color: #FF9E4D;
    /*background-color: #3882F6;*/
    color: white;
    font-size: 20px;
    border: 2px solid white;
    width: 150px;
    height: 50px;
}

.main {
    
}





footer {
   
    display: flex;
    position:
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: #1F2937;
    
}